# Constructors
public net.minecraft.client.particle.DripParticle$DripHangParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/particles/ParticleOptions;)V
public net.minecraft.client.particle.DripParticle$FallingParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;)V

# Package-private and private classes used by Galacticraft.
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper
public net.minecraft.data.models.BlockModelGenerators$BlockStateGeneratorSupplier
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.biome.MultiNoiseBiomeSourceParameterList$Preset$SourceProvider

# Fields
public net.minecraft.world.level.levelgen.SurfaceRules$Context biome
public-f net.minecraft.data.models.BlockModelGenerators texturedModels
public-f net.minecraft.data.models.BlockModelGenerators fullBlockModelCustomGenerators
public-f net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider skipGeneratingModelsFor
public net.minecraft.data.loot.EntityLootSubProvider SPECIAL_LOOT_TABLE_TYPES
public net.minecraft.data.loot.EntityLootSubProvider map
public net.minecraft.world.level.levelgen.NoiseRouterData Y
public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_X
public net.minecraft.world.level.levelgen.NoiseRouterData SHIFT_Z
public net.minecraft.client.gui.screens.inventory.SmithingScreen ARMOR_STAND_ANGLE
public net.minecraft.client.particle.Particle MAXIMUM_COLLISION_VELOCITY_SQUARED
public net.minecraft.client.renderer.LevelRenderer RAIN_RADIUS
public net.minecraft.client.renderer.LevelRenderer RAIN_DIAMETER
public net.minecraft.client.renderer.LevelRenderer ticks
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litTime
public net.minecraft.data.worldgen.ProcessorLists EMPTY
public net.minecraft.world.entity.npc.VillagerType BY_BIOME

# Remove final so Galacticraft can extend this class.
public-f net.minecraft.world.SimpleMenuProvider

# Methods
public net.minecraft.data.models.model.ModelTemplates createItem(Ljava/lang/String;[Lnet/minecraft/data/models/model/TextureSlot;)Lnet/minecraft/data/models/model/ModelTemplate;
public net.minecraft.world.level.block.BaseRailBlock shouldBeRemoved(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/Level;Lnet/minecraft/world/level/block/state/properties/RailShape;)Z
public net.minecraft.world.level.storage.loot.BuiltInLootTables register(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/resources/ResourceKey;
public net.minecraft.stats.Stats makeCustomStat(Ljava/lang/String;Lnet/minecraft/stats/StatFormatter;)Lnet/minecraft/resources/ResourceLocation;
